apiVersion: v1
kind: Service
metadata:
  name: service-app
  namespace: app
spec:
  type: NodePort
  selector:
    app: app-nginx
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
    nodePort: 32002